@media (max-width:450px)
{
    .slider-about 
    {
       margin-bottom: 50px;
    }
}


@media (max-width:699px){
    #nav {
        display: none;
    }
    #header #menu-tablet
    {
        display: block;
    }
    .modal-content 
    {
        width: 100%;
    }
    #sub-nav-tablet
    {
        left: 10%;
        position: absolute;
    }
    #header .header-heading 
    {
        margin-left: 0px;
    }
    #sub-nav-tablet li:hover #sub-nav-2-tablet 
    {
        display: none;
    }
    #slider  
    {
        flex-direction: column-reverse;
        height: 900px;
        text-align: center;
    }
    .heading-slider
     {
         font-size: 40px;
         line-height:53px;
     }
     #slider  img 
     {
         width: 80%;
         margin-bottom: 20px;
     }
     .slider-about 
{
   margin-bottom: 40px;
 }
.heading-slider
     {
         font-size: 30px;
         line-height:53px;
     }
     .content-1
     {
         height: 300px;
        
}
#content .content-2
{
    height: 800px;
}
#content .content-2 .content-2-all-text
{
    flex-direction: column;
    width: 100%;
}
.content-2-left-text 
{
  
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}
.content-2-right-text 
{
    
    font-size: 15px;
    margin-left: 0;
}
}

@media (min-width:700px) and (max-width:1020px) {
    #nav {
        display: none;
    }
    #header #menu-tablet
    {
        display: block;
    }
    #slider  
    {
        flex-direction: column-reverse;
        height: 700px;
        text-align: center;
    }
    .heading-slider
     {
         font-size: 40px;
         line-height:53px;
     }
     #slider  img 
     {
         margin-bottom: 20px;
     }
     #content .content-2
     {
         height: 700px;
     }
     #content .content-2 .content-2-all-text
     {
         flex-direction: column;
     }
     .content-2-left-text 
    {
        width: 450px;
    }
    .content-2-right-text 
    {
        width: 450px;
    }
   
}
@media  (min-width:1021px)
{
    .slider-about 
    {
        width: 456px;
    }
    .content-2-left-text 
    {
        width: 450px;
    }
    .content-2-right-text 
    {
        width: 450px;
    }
}