


@media (max-width:699px){
    #nav {
        display: none;
    }
    #header #menu-tablet
    {
        display: block;
    }
    .modal-content 
    {
        width: 100%;
    }
    #sub-nav-tablet
    {
        left: 10%;
        position: absolute;
    }
    #header .header-heading 
    {
        margin-left: 0px;
    }
    #sub-nav-tablet li:hover #sub-nav-2-tablet 
    {
        display: none;
    }
    #slider  
    {
        flex-direction: column-reverse;
        height: 900px;
        text-align: center;
    }
    .heading-slider
     {
         font-size: 40px;
         line-height:53px;
     }
     #slider  img 
     {
         width: 80%;
         margin-bottom: 20px;
     }
     .slider-about 
{
   margin-bottom: 40px;
 }
.heading-slider
     {
         font-size: 30px;
         line-height:53px;
     }
     .content-1
     {
         height: 300px;
        
}
#content .content-2
{
    height: 800px;
}
#content .content-2 .content-2-all-text
{
    flex-direction: column;
    width: 100%;
}
.content-2-left-text 
{
  
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}
.content-2-right-text 
{
    
    font-size: 15px;
    margin-left: 0;
}
#content .content-3 
{
    flex-direction: column-reverse;
    height: 1500px;
}
#content .content-3 img 
{
    width: 100%;
    margin-bottom: 40px;
}
.content-3-all-txt 
{
    width: 100%;
}
.content
{
    width: 100%;
}
.collapsible
{
    width: 100%;
}
}
@media (max-width:400px)
{
    .slider-about 
    {
       margin-bottom: 50px;
    }
    #content 
    {
        height: 4000px;
    }
    #content .content-3 
    {
        flex-direction: column-reverse;
        height: 2000px;
    }
}
@media (min-width:700px) and (max-width:1020px) {
    #nav {
        display: none;
    }
    #header #menu-tablet
    {
        display: block;
    }
    #slider  
    {
        flex-direction: column-reverse;
        height: 700px;
        text-align: center;
    }
    .heading-slider
     {
         font-size: 40px;
         line-height:53px;
     }
     #slider  img 
     {
         margin-bottom: 20px;
     }
     #content .content-2
     {
         height: 700px;
     }
     #content .content-2 .content-2-all-text
     {
         flex-direction: column;
     }
     .content-2-left-text 
    {
        width: 450px;
    }
    .content-2-right-text 
    {
        width: 450px;
    }
    #content .content-3 
    {
        flex-direction: column-reverse;
        height: 1700px;
    }
    #content .content-3 img 
    {
        width: 75%;
        margin-bottom: 40px;
    }
    .content
    {
        width: 450px;
    }
    .collapsible
    {
        width: 450px;
    }
    .content-3-about 
    {
        width: 410px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .content-3-heading 
    {
        font-size: 35px;
        width:410px;
        color: #37517e;
        line-height: 55px;
        margin-bottom: 20px;
    }
}
@media  (min-width:1021px)
{
    .slider-about 
    {
        width: 456px;
    }
    .content-2-left-text 
    {
        width: 450px;
    }
    .content-2-right-text 
    {
        width: 450px;
        
    }
    .content-3-all-txt 
    {
        padding: 20px;
        width: 600px;
    }
    .collapsible
    {
        width: 450px;
    }
    .content
    {
        width: 450px;
    }
    .content-3-about 
  {
      width: 410px;
      line-height: 28px;
      margin-bottom: 20px;
  }
  .content-3-heading 
  {
      font-size: 35px;
      width:410px;
      color: #37517e;
      line-height: 55px;
      margin-bottom: 20px;
  }
}