*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#header 
{
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: #37517e;
    align-items: center;
}
#header .header-heading 
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;
    font-size: 25px;
    margin-left: 40px;
}
#nav 
{
    padding: 20px;

}
#nav > li 
{
    display: inline-block;
    padding: 15px;
    position: relative;
}
#nav > li > a 
{
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    font-size: 13px;
    text-transform: capitalize;
    position: relative;
    transition: 0.4s;
}
#nav > li > a:hover 
{
    color: #47b2e4;
}
#nav li:hover #sub-nav 
{
    display: block;
}
#nav  .color-nav a 
{
    color: #47b2e4;
}
#nav .border-nav 
{
    border: 2px solid #47b2e4;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
     transition: 0.4s;
}
#nav .border-nav:hover 
{
    background:#47b2e4;
    color: #fff;
}
#sub-nav 
{
    position: absolute;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    border-radius: 5px;
    z-index: 2;
    width: 170px;
   
    top: 100%;
    right: 1%;
    left: 3%;
   
    animation: fadeDown 0.1s ease-in-out;
    transition: 0.4s;
}
#sub-nav > li 
{
    padding: 15px;
    list-style: none;
    position: relative;
    font-size: 13px;
}

#sub-nav > li > a 
{
    color: #37517e;
    display: block;
    text-decoration: none;
    transition: 0.4s;
}
#sub-nav > li > a:hover 
{
    color: #47b2e4;
}
#sub-nav .arrow 
{
    
    position: absolute;
    right: 0;
    padding: 0px 10px 0px 20px;
}
#sub-nav li:hover #sub-nav-2 
{
    display: block;
}
#sub-nav-2 
{
    position: absolute;
    left: 100%;
    width: 150px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 170px;
    top: 0;
    display: none;
    animation:fadeLeft ease-in-out 0.1s ;
}
#sub-nav-2 li 
{
    list-style:none ;
    padding: 15px;
}
#sub-nav-2 li a 
{
    list-style: none;
    text-decoration: none;
    transition: 0.4s;
     color: #37517e;
}
#sub-nav-2 li a:hover 
{
    color: #47b2e4;
}
#header #menu-tablet
{
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 0;
    display: none;
}
.modal 
{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: #0004;
    display: none;
}
.modal-content 
{
    width: 50%;
    background: #fff;
    height: 100%;
    position: relative;
    animation:fadeLeft2 linear 0.4s ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content .modal-close 
{
    position: absolute;
    top: 0%;
    right: 0;
    padding: 20px;
    font-size:30px;
    cursor: pointer;
    color: #4782e4;
}
.modal.open 
{
    display: flex;
}


#sub-nav-tablet
{
    display: none;
}
#nav-tab 
{
    padding: 20px;

}
#nav-tablet > li 
{
    
    padding: 15px;
    position: relative;
}
#nav-tablet > li > a 
{
    text-decoration: none;
    font-weight: 550;
    text-transform: capitalize;
    position: relative;
    transition: 0.4s;
}
#nav-tablet > li > a:hover 
{
    color: #47b2e4;
}
#nav-tablet li:hover #sub-nav-tablet 
{
    display: block;
}
#nav-tablet  .color-nav a 
{
    color: #47b2e4;
}
#nav-tablet .border-nav 
{
    border: 2px solid #47b2e4;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    
}
#sub-nav-tablet 
{
    position: absolute;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    border-radius: 5px;
    z-index: 2;
    width: 200px;
   
    top: 0%;
    
    left: 80%;
    animation:fadeDown ease-in-out 0.1s ;
    transition: 0.4s;
}
#sub-nav-tablet > li 
{
    padding: 15px;
    list-style: none;
    position: relative;
    font-size: 13px;
}

#sub-nav-tablet > li > a 
{
    color: #37517e;
    display: block;
    text-decoration: none;
    transition: 0.4s;
}
#sub-nav-tablet > li > a:hover 
{
    color: #47b2e4;
}
#sub-nav-tablet .arrow 
{
    
    position: absolute;
    right: 0;
    padding: 0px 10px 0px 20px;
}
#sub-nav-tablet li:hover #sub-nav-2-tablet 
{
    display: block;
}
#sub-nav-2-tablet 
{
    position: absolute;
    left: 100%;
    width: 200px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
    top: 0;
    display: none;
    animation:fadeLeft ease-in-out 0.1s ;
}
#sub-nav-2-tablet li 
{
    list-style:none ;
    padding: 15px;
}
#sub-nav-2-tablet li a 
{
    list-style: none;
    text-decoration: none;
    transition: 0.4s;
     color: #37517e;
}
#nav-tablet-tablet 
{
    padding: 20px;
}
#nav-tablet li
{
    padding: 20px;
    list-style: none;
}
#nav-tablet li a
{
   text-decoration: none;
   color: #37517e;
   font-size: 18px;
}
#sub-nav-2 li a:hover 
{
    color: #4782e4;
}
 #nav-tablet .border-nav-2:hover
{
    background: #47b2e4;
    color: #fff;
}
@keyframes fadeDown {
    from {
        transform: translateY(5%);
    }to {
        transform: translateY(0%);
    }
}
@keyframes fadeLeft {
    from {
        transform: translateX(-5%);
    }to {
        transform: translateX(0%);
    }
}
@keyframes fadeLeft2 {
    from {
        transform: translateX(-100%);
    }to {
        transform: translateX(0%);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }to {
        opacity: 0;
    }
}

  #slider 
  {
      height:500px;
      background: #37517e;
      margin-top: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  #slider img 
  {
      width:403px ;
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.heading-slider 
{
    color: #fff;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 35px;
    font-weight: 600;
}
.slider-about
{
   color: #999;
   line-height: 32px;
   margin-bottom: 20px;
   font-size: 16px;
}
.slider-nav li 
{
    display: inline-block;
    list-style: none;
    color: #fff;
    padding: 13px 20px 13px 20px;
    cursor: pointer;
}
.slider-nav-border 
{
    background:#47b2e4;
    border-radius: 35px;
    font-weight: 700;
     transition: 0.4s;
}
.slider-nav-border:hover 
{
    background: #4782e4;
}
.slider-nav-watch 
{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}
.slider-nav-watch:hover i 
{
    color: #4782e4;
}
.arrow-2 
{
    padding: 3px;
}
.slider-nav-watch i 
{
   
    font-size: 25px;
    padding: 6px;
    transition: 0.4s;
}
.slider-nav-watch i:hover 
{
    color: #4782e4;

}
.slider-all-txt 
{
    padding: 20px;
}

@keyframes up-down 
{
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }

}



   #content 
   {
       height: 5500px;
   }

   .content-1
   {
       height: 150px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
       background: #f3f5f9;
       flex-wrap: wrap;
       margin-bottom: 50px;
   }
   #content   .content-1 img
   {
       width: 74px;
       margin-left: 50px;
       margin-right: 50px;
       transition: 0.4s;
       cursor: pointer;
   }
   #content   .content-1 img:hover 
   {
       transform: scaleX(1.1);
   }
   #content .content-2 
   {
       height: 400px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   #content .content-2 .content-2-heading 
   {
       margin-bottom: 36px;
       padding-bottom: 20px;
       position: relative;
       color:#37517e;
       border-bottom: 2px solid #888;
   }
   #content .content-2 .content-2-heading::after
   {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: -5%;
    left: calc(50% - 20px);
   }
   #content .content-2 .content-2-all-text
   {
       display: flex;
       color: #888;
       
   }
   .content-2-left-text 
   {
      
       padding: 20px;
       margin-right: 30px;
   }
   .content-2-left-text .about 
   {
    margin-bottom: 20px;
    line-height: 28px;
   }
   .content-2-left-text .content-2-list li
   {
             list-style: none;
             padding: 5px;
             line-height: 28px;
   }
   .content-2-left-text .content-2-list li i 
   {
       padding: 10px;
       color: #47b2e4;
   }
   .content-2-right-text 
   {

       padding: 20px;
       margin-left: 30px;
   }
   .content-2-right-text .about-2-sub 
   {
    margin-bottom: 20px;
    line-height: 28px;
   }
   .content-2-right-text .box-2 
   {
       padding: 10px 14px;
       border: 2px solid #47b2e4;
        width: 160px;
      color: #47b2e4;
      text-align: center;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      transition: 0.4s;
   }
   .content-2-right-text .box-2:hover 
   {
       background: #47b2e4;
       color: #fff;
   }
  #content .content-3 
  {
      height: 1100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f3f5f9;
  }
  #content .content-3 img 
  {
      width: 475px;
      margin-bottom: 40px;
  }
  .content-3-heading 
  {
      font-size: 35px;
   
      color: #37517e;
      line-height: 55px;
      margin-bottom: 20px;
  }
  .content-3-about 
  {
      
      line-height: 28px;
      margin-bottom: 20px;
  }
  .content-3-all-txt 
  {
      padding: 20px;
  }
   .collapsible {
    background-color: none;
    color: #000;
    cursor: pointer;
    padding: 30px;

    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    background: #fff;
    text-align: left;
    border: none;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 40px;
    position: relative;
  }
  .collapsible:hover 
  {
      color: #47b2e4;
  }
  .num 
  {
      color: #47b2e4;
      padding: 5px;
      font-weight: 800;
     }
  .content {
    padding: 0px 20px 0px 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
   
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 35px;
    background: #fff;
    color: #888;
    margin-top: -20px;
  }
  .arrow-down-3 
  {
      position: absolute;
      top: 10%;
      right: -2%;
      padding: 20px;
      font-size: 17px;
  }
 .content-4
 {
     height: 700px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .content-4 img 
 {
     width: 546px;
     padding: 20px;
 }
 .content-4-all-txt
 {
     padding: 20px;
 }
 .content-4-all-txt .content-4-heading 
 {
     margin-bottom: 20px;
     color: #37517e;
     line-height: 46px;
 }
 .content-4-all-txt .content-4-about 
 {
        margin-bottom: 20px;
        line-height: 28px;
 }
 #nav-skill li
 {
     list-style: none;
     padding-bottom: 15px;
     border-bottom: 6px solid #f3f5f9;
     padding-top: 15px;
     position: relative;
     color: #37517e;
     font-weight: 700;
 }

 #content-4-sub-li::after
{
    content: "";
    width: 90%;
    content: "";
    position: absolute;
    padding: 0;
    position: absolute;
  display: block;
  height: 6px;
  background: #37517e;
  bottom: -10%;
  left: 0;
}

#content-4-sub-li-2::after
{
   content: "";
   width: 100%;
   content: "";
   position: absolute;
   padding: 0;
   position: absolute;
 display: block;
 height: 6px;
 background: #37517e;
 bottom: -10%;
 left: 0;
}

#content-4-sub-li-3::after
{
   content: "";
   width: 75%;
   content: "";
   position: absolute;
   padding: 0;
   position: absolute;
 display: block;
 height: 6px;
 background: #37517e;
 bottom: -10%;
 left: 0;
}

#content-4-sub-li-4::after
{
   content: "";
    width: 58%;
   position: absolute;
   padding: 0;
   position: absolute;
 display: block;
 height: 6px;
 background: #37517e;
 bottom: -10%;
 left: 0;
}
.perc 
{
    float: right;
}
.content-5 
{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    flex-direction: column;
    background: #f3f5f9;
}
.content-5-all-txt 
{
    text-align: center;
}
.content-5 .content-5-heading 
{
    margin-bottom: 20px;
    color: #37517e;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #888;
    text-align: center;
    position: relative;
}
.content-5 .content-5-heading::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: -5%;
    left: calc(50% - 20px);
}
.content-5-about 
{
    padding: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #888;
}
.content-5 .content-5-all-box 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content-5 .content-5-all-box li 
{
    list-style: none;
    margin-bottom: 20px;
}
.content-5 .content-5-all-box li
{
    background: #fff;
    height: 286px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: 0.4s;
}
.content-5 .content-5-all-box li i 
{
    color: #47b2e4;
    margin-bottom: 20px;
}
.content-5-sub-heading-box 
{
    margin-bottom: 20px;
    font-size: 22px;
    color: #37517e;
    transition: 0.4s;
}
.content-5-box 
{
    width: 290px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.content-5-box:hover  
{
    transform: scale(1.1);
}
.content-5-box:hover .content-5-sub-heading-box 
{
    color: #47b2e4;
    
}
.content-5-box-about 
{
    line-height: 28px;
    color: #888;
}
.content-6
{
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:   linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url('cta-bg.jpg') fixed center center;;
}
.content-6-heading 
{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.content-6-about  
{
    color: #fff;
    line-height: 28px;
}
.content-6-box 
{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 10px 21px 10px 21px;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 700;
}
.content-6-box:hover 
{
    background: #47b2e4;
    border: 2px solid #47b2e4;
}